@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: space;
    src: url("./assets/fonts/static/SpaceGrotesk-Medium.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: space;
    src: url("./assets/fonts/static/SpaceGrotesk-Bold.ttf");
    font-weight: bold;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: space;
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }
}

.App {
  --purple: #5c2dd5;
  --blue: #7945ff;
  --pink: #fd6687;
  --yellow: #ffce67;
}

.heading-l {
  font-family: space;
  font-weight: bold;
  font-size: 56px;
  line-height: 71px;
}

.heading-m {
  font-family: space;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.heading-s {
  font-family: space;
  font-weight: bolc;
  font-size: 20px;
  line-height: 26px;
}

.heading-xs {
  font-family: space;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.body {
  font-family: space;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.buttong {
  width: 400px;
  height: 72px;
  border-radius: 20px;
}

.bordered {
  border: 3px solid black;
  box-shadow: 0 10px 0 black;
}
